{% extends 'links/pattern.html' %}
{% block content %}
    <div class="home-block">
        <p class="sub-title">Регистрация</p>
        <form method="post" class="form-one">
            <label for="username">Имя пользователя:</label>
            <br>
            <input id="username" class="input-field" type="text" placeholder="Введите имя пользователя">
            <label for="email">Email:</label>
            <br>
            <input id="email" class="input-field" type="text" placeholder="Введите email">
            <label for="password">Ваш пароль:</label>
            <br>
            <input id="password" class="input-field" type="text" placeholder="Задайте пароль">
        </form>
        <div class="button main-button"><a href="#">Зарегистрироваться</a></div>
    </div>
{% endblock content %}
