{% extends 'links/pattern.html' %}
{% block content %}
    <div class="home-block">
        <p class="sub-title">Создание ссылок</p>
        <form method="post" class="form-one">
            <label for="full_link">Полная ссылка:</label>
            <br>
            <input id="full_link" class="input-field" type="text" placeholder="Введите полную ссылку">
            <label for="cutted_link">Сокращённая ссылка:</label>
            <br>
            <input id="cutted_link" class="input-field" type="text" placeholder="Введите укороченный вариант названия">
        </form>
        <div class="button main-button"><a href="#">Обрубить ссылку</a></div>
    </div>
{% endblock content %}