{% extends 'links/pattern.html' %}
{% block content %}
    <div class="home-block">
        <form action="" method="post">
            <p class="sub-title">Создание ссылок</p>
            {% csrf_token %}
            {{form}}
            <input class="button main-button submit_button" type="submit" value="Получить ссылку">
        </form>

        {% if user.is_authenticated %}
            <div>
                <p class="sub-title">{{user.username}}, ваши доступные ссылки:</p>
                {% for link in available_links %}
                    <p>Ссылка - <a href="{{link.full_link}}">/link/{{link.nickname}}/</a></p>
                {% endfor %}
            </div>
        {% else %}
            <h3>Авторизуйтесь, чтобы увидеть доступные ссылки</h3>
        {% endif %}
    </div>

{% endblock content %}